body {
	font-size: 100%;
	font-family: Helvetica, Arial, sans-serif;
	color: #777;
	background-color: #FFF;
	font-size: 2.5em;
	padding: 50px;
}

a { color: #3399FF; text-decoration: none; transition: color 0.15s linear; }
a:hover { color: #FF9900; text-decoration: none; }

body, p, h1 {
	-webkit-font-smoothing: antialiased;
}

.title { color: #333; font-size: 150%; }
